{
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "extends": [
      "eslint:recommended"
  ],
  "settings": {
  },
  "parserOptions": {
      "ecmaFeatures": {
          "js": true,
          "modules": true
      }
  },
  "parser": "babel-eslint",
  "rules": {
      "indent": [
          "error",
          2,
          { "SwitchCase": 1 }
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": [
          "error",
          "single",
          { "avoidEscape": true }
      ],
      "no-console": "off",
      "no-case-declarations": "off",
      "space-before-blocks": ["error", "always"],
      "space-infix-ops": "error",
      "arrow-spacing": ["error", { "before": true, "after": true }],
      "keyword-spacing": ["error", { "before": true, "after": true }],
      "func-call-spacing": ["error", "never"],
      "space-in-parens": ["error", "never"],
      "object-curly-spacing": ["error", "always"],
      "array-bracket-spacing": ["error", "never"],
      "computed-property-spacing": ["error", "never"]
  }
}
